@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');
body {
  width: 100%;
  height: 100vh;
   }
  #Contenedor{
  background: radial-gradient(rgb(122, 122, 122), rgb(59, 59, 59));
   
  display:flex;
  align-items:center;
  justify-content:center;
 }

#loginform{
   
  font-family: "work sans";
  width: 95%;
  height: 30%;
    margin:3% auto;
    padding-left: 10%;
    padding-right: 10%;
  background-color: #FFFFFF;
  opacity:0.9;
  border-radius: 2%;
}

#headerTitle{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
}
#headerTitle::before{
    content: '';
  position: absolute;
  height: 4px;
  width: 33px;
  bottom: 3px;
  left: 0;
  border-radius: 5px;
  background:linear-gradient(to right, #000000 0%, #403d3e 100%)
}
#row{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
  
}

.row input{
  width: 80%;
  box-sizing: border-box;
	border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
}

.row input:focus{
   box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
   outline: none;
}

.row input::-webkit-input-placeholder{
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.row label{
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: rgba(187,187,187,0.9);
}

#botonLogin{

margin-top: 1.3rem;
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(34,193,195);
  background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

#botonLogin:hover{
  opacity: 0.8;
}

#botonLogin{
  padding-bottom: 1.5rem;
}



#iconGroup{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

#iconGroup a{
  margin: 0 0.6rem;
}

#alternativeLogin {
    display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
   text-align: center;
}


.register-info{
    margin-top: 17.5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}